* {
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

/* ==== HELPER COLORS FOR LAYOUT ==== */

/*
.main-header {
  background-color: rgba(255, 248, 53, .3);
}

.primary-content {
  background-color: rgba(140, 96, 255, .3);
}

.post {
  background-color: rgba(255, 0, 0, .3);
}
*/

/* ==== BASE STYLES ==== */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    line-height: 2rem;
    color: black;
}
  
h1, h2, h3, h4, h5 {
    font-family: 'PT Serif', serif;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

.main-header p {
	font-size: 1.125rem;
	letter-spacing: 0.125rem;
	color: #6c737e;
}





/* ==== LAYOUT STYLES ==== */

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img, a, figcaption,
.main-header, .primary-content {
    margin-bottom: 1rem;
}

.primary-content {
    width: 95%;
	margin: 0 auto 1rem;
}

@media (min-width: 768px) {
    .primary-content {
        width: 85%;
    }

}





/* ==== HEADER STYLES ==== */

.main-header {
    text-align: center;
    padding: 1.25rem 1rem;
    background-color: #e8ecf1;
    margin-bottom: 2rem;
}

/* Header component styles */

.button {
	display: inline-block;
    color: #6c737e;
    text-decoration: none;
	border-radius: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 5px;
	width: 25vw;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    color: #e8ecf1;
    background-color: #6c737e;
}

.active {
    text-decoration: underline solid #6c737e;
}

@media (min-width: 768px) {
    .main-header {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    .header__buttons {
        margin: auto;
    }

    .header__titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        text-align: center;
        margin: auto;
    }

    .header-main-title, .header-sub-title {
        margin-bottom: 0rem;
    }

    .header-main-title > a {
        margin-bottom: 0rem;
    }

    .header__line {
        display: none;
    }

    .header__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .button {
        width: 10vw;
        margin: auto 2vw;
        flex: 1;
    }

}





/* Main Page Styles */

.section-title {
    text-decoration: underline;
    margin-bottom: 1.5rem;
    color: black;
}

.post {
	margin: 0 auto 2rem;
}

.project-title {
    margin-bottom: 0.6rem;
    text-decoration: none;
    color: black;
}

.project-subtitle {
    color: #6c737e;
}

.cover-picture {
    width: 100%;
}

.intro {
    margin-bottom: 0;
}

.read-more {
    border-radius: 2px;
    color: #6c737e;
    text-decoration: underline #6c737e;
    transition: background-color 0.5s, color 0.5s;
}

.read-more:hover {
    color: #e8ecf1;
    background-color: #6c737e;
}


@media (min-width: 768px) {

    .section-title {
        margin-bottom: 3rem;
    }

    .post {
        display: flex;
        margin: auto;
        margin-bottom: 5rem;
        justify-content: space-around;
        align-items: flex-start;
    }

    .cover-picture {
        display: block;
        width: 100%;
        height: 100%;
    }

    .cover-picture-link {
        flex-basis: 50%;
        display: inline-block;
    }

    .post__summary {
        flex-basis: 50%;
        padding-left: 3rem;
    }

    .intro {
        font-size: 1rem;
    }

}





/* -- Article Page Specific Styles -- */

.article__text {
    margin-bottom: 1rem;
}

.article__figure {
    margin-bottom: 1rem;
    text-align: center;
}

.article__image {
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
}

.article__image__caption {
    font-size: 0.8rem;
}